.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: $white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
    0 2px 10px 0 rgba(0,0,0,0.12);
}

.card_content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}